.addBio
  .im-centered-2
    .row.response.clear
      We're sorry it's not a fit
      %br
      Sign up and send your own coffee invitation to someone interesting at:
      %br
      %a{:href => "http://www.cup2cup.us"}
        %img{:src => "https://s3-us-west-2.amazonaws.com/cup2cup/Cup2CupLogoTry2_Text.png"}/
